<html>
    <body>
        <form method="post">
           name:<input type="text1" name="txt1" required/>
            age:<input type="text" name="txt2" required/>
            mobile:<input type="number" name="txt3" required/>
            <input type="submit"/>
        </form>
    </body>
    </html>