a value is <%=mya %><br/>
b value is <%=myb %><br/>
c value is <%=myc %><br/>

<% if (myc==30) {%>
    <p style="background-color:green;">c is 30</p>
<%}else{%>
    <p style="background-color:red;">c is not 30</p>
<%}%>